---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Photobook from '../components/Photobook.astro';
---

<Layout title="МосШахКлуб">
	<main class="mt-12 bg-background">
		<Navbar />
		<Photobook />
	</main>
</Layout>

<style>
</style>
